<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="footer">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="four wide column">
				<h4 class="ui inverted header">Creators</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">임혜수</a> 
					<a href="#" class="item">김진영</a> 
					<a href="#" class="item">윤지우</a> 
					<a href="#" class="item">조민서</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">Developers</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">임혜수</a> 
					<a href="#" class="item">김진영</a> 
					<a href="#" class="item">윤지우</a> 
					<a href="#" class="item">조민서</a>
				</div>
			</div>
			<div class="eight wide column">
				<h4 class="ui inverted header">Footer</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>
		<div class="ui section divider"></div>
		<div>
			<i class="american sign language interpreting icon"></i>
		</div>
		<div class="ui horizontal inverted small divided link list">
			<a href="#" class="item">itschool</a> 
			<a href="#" class="item">itschool</a> 
			<a href="#" class="item">itschool</a> 
			<a href="#" class="item">itschool</a>
		</div>
	</div>
</body>
</html>