<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="fragments/config :: config">
</head>
<body>
	<div class="ui main text container">
		<h2 class="ui icon header">
			<i class="circular users icon"></i>
		</h2>
	</div>
	<div class="ui borderless main menu">
		<th:block th:replace="fragments/header"></th:block>
	</div>
	<div class="container">
		<div class="content">
			<div layout:fragment="content"></div>
		</div>
	</div>
	<div class="ui inverted vertical footer segment">
		<th:block th:replace="fragments/footer"></th:block>
	</div>
</body>
</html>