<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
</head>
<body layout:fragment="content">
	<form class="ui large form" method="POST" action="professorInsertRow">
		<div class="ui grid" style="margin-top: 5px; margin-bottom: 200px">
			<div class="four wide column"></div>
			<div class="eight wide column">
				<h3 style="text-align: center;">교수등록</h3>

				<div class="fluid ui labeled input">
					<div class="ui label" style="width: 100px">교수번호</div>
					<input type="text" name="professor_no" id="professor_no"
						placeholder="교수번호" required="required">
					<button type="button" class="btn professorConfirm" style="width: 15%;">확인</button>
				</div>

				<div class="fluid ui labeled input" style="margin-top: 10px">
					<div class="ui label" style="width: 100px">교수이름</div>
					<input type="text" name="professor_name" required="required" id="professor_name">
				</div>
				<div class="fluid ui labeled input" style="margin-top: 10px">
					<div class="ui label" style="width: 100px">주민번호</div>
					<input type="text" name="professor_ssn" required="required" id="professor_ssn">
				</div>
				<div class="fluid ui labeled input" style="margin-top: 10px">
					<div class="ui label" style="width: 100px">집주소</div>
					<input type="text" name="professor_address" required="required" id="addr1">
					<button type="button" class="btn btn-primary" style="width: 15%;"
						onclick="zipcodeFind()">검색</button>
				</div>
				<div class="fluid ui labeled input" style="margin-top: 10px">
					<div class="ui label" style="width: 100px">학과선택</div>
				<input type="hidden" name="class_no">
				<input type="text" name="department_no" required="required" id="department_no">
				<button type="button" class="bbtn" id="bbbbbe">검색</button>
				</div>
				<p></p>
			</div>
			<div class="four wide column"></div>

			<div class="sixteen wide column center aligned">
				<button class="ui black button" type="submit">저장</button>
				<button class="ui black basic button" type="button"
					onclick="history.back(-1)">취소</button>
			</div>

			<div class="ui small modal professrConfirmyy">
				<i class="close icon"></i>
				<div class="header">교수번호중복확인</div>
				<div class="image content">
					<div class="ui">
						<i class="exclamation icon"></i>
					</div>
					<div class="description">
						<div class="ui header"></div>
					</div>
				</div>
				<div class="actions">
					<div class="ui positive left labeled icon button">
						확인 <i class="checkmark icon"></i>
					</div>
					<div class="ui black deny button">닫기</div>
				</div>
			</div>

		</div>
			<div class="ui department search tiny modal">
						<div class="header">학과검색</div>
						<div class="scrolling content">
							<div class="ui labeled input fluid" style="margin-bottom: 10px;">
								<div class="ui label">선택</div>
								<input type="text" id="departmentModalInput" placeholder="학과번호"
									readonly="readonly">
							</div>
							<div>
								<table id="departmentExample" class="display nowrap"
									style="text-align: center;">
									<thead>
										<tr>
											<th><h3>학과번호</h3></th>
											<th><h3>학과이름</h3></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="department : ${departments}"
											style="cursor: pointer;">
											<td th:text="${department.department_no}"
												th:value="${department.department_no}" id="departmentSelect"></td>
											<td th:text="${department.department_name}"
												id="departmentSelect"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="actions">
							<button style="width: 40%;" class="ui primary cancel button">확인</button>
							<button style="width: 40%; margin-right: 40px"
								id="departmentSearchCancelBtn" class="ui cancel button">취소</button>
						</div>
					</div>



	</form>
</body>
</html>