<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<title>join</title>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/class.css}">
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/class.js}"></script>
</th:block>
<body layout:fragment="content">
	<th:block th:replace="fragments/classLeftMenu"></th:block>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header">
				<strong>강의등록</strong>
			</h2>
			<form class="ui large from" action="classInsertSave" Method="post">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui fluid labeled input">
							<div class="ui label">강의번호</div>
							<input type="text" id="class_no" name="class_no"
								placeholder="C로 시작하는 7자리">
							<button class="ui grey basic button" type="button"
								id="classNumConfirm">중복검사</button>
						</div>
					</div>
					<div class="field">
						<div class="ui fluid labeled input">
							<div class="ui label">학과번호</div>
							<input type="hidden" name="department_no" id="department_no">
							<input type="text" name="department_name" id="department_name">
							<button class="ui grey basic button" type="button"
								id="departmentSeachInsert">학과검색</button>
						</div>
					</div>
					<div class="field">
						<div class="ui fluid labeled input">
							<div class="ui label">수업이름</div>
							<input type="text" name="class_name">
						</div>
					</div>

					<div class="field">
						<select class="ui selection fluid dropdown" style="height: 43px"
							name="class_type">
							<option th:text="전공필수" th:value="전공필수"></option>
							<option th:text="전공선택" th:value="전공선택"></option>
						</select>
					</div>
					<div class="field" id="professorField"
						style="background-color: #e9ecef; margin-right: 20px; padding: 30px;">
						<a class="ui teal tag large label" style="margin-bottom: 20px">과목교수</a>
						<div class="ui fluid labeled input" style="margin-bottom: 10px;">
							<button class="ui grey basic button" type="button"
								style="background-color: #ffffff;" id="professorSeachInsert">교수검색</button>
							<input type="hidden" name="professor_no" id="professor_no">
							<input type="text" name="professor_name" id="professor_name">
						</div>
					</div>

					<div class="field" style="margin-top: 20px">
						<span><button type="submit" class="ui primary basic button"
								style="width: 48%">저장</button></span> <span><button
								type="button" class="ui negative  basic button"
								onclick="location.href='classCancel'" style="width: 48%">취소</button></span>
					</div>


					<!-- 중복검사 모달 -->
					<div class="ui mini classNumconfirm modal">
						<div class="header">중복검사</div>
						<div class="classmodal content">
							<p></p>
						</div>
						<div class="actions">
							<div class="ui cancel button">확인</div>
						</div>
					</div>

					<!-- 학과,수업검색 모달 -->
					<div class="ui department search tiny modal">
						<div class="header">학과검색</div>
						<div class="scrolling content">
							<div class="ui labeled input fluid" style="margin-bottom: 10px;">
								<div class="ui label">선택</div>
								<input type="text" id="departmentModalInput" placeholder="학과번호"
									readonly="readonly">
							</div>
							<div>
								<table id="departmentExample" class="display nowrap"
									style="text-align: center;">
									<thead>
										<tr>
											<th><h3>학과번호</h3></th>
											<th><h3>학과이름</h3></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="department : ${departments}"
											style="cursor: pointer;">
											<td th:text="${department.department_no}"
												th:value="${department.department_no}" id="departmentSelect"></td>
											<td th:text="${department.department_name}"
												id="departmentSelect"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="actions">
							<button style="width: 40%;" class="ui primary cancel button">확인</button>
							<button style="width: 40%; margin-right: 40px"
								id="departmentSearchCancelBtn" class="ui cancel button">취소</button>
						</div>
					</div>

					<!-- 교수검색 모달 -->
					<div class="ui professor search tiny modal">
						<div class="header">교수검색</div>
						<div class="scrolling content">
							<div class="ui labeled input fluid" style="margin-bottom: 10px;">
								<button class="ui button" id="selectProfessor1">선택1</button>
								<input type="text" id="professorModalInput1" placeholder="학과번호"
									readonly="readonly">
								<button class="ui button" id="selectProfessor2">선택2</button>
								<input type="text" id="professorModalInput2" placeholder="학과번호"
									readonly="readonly">
							</div>
							<div>
								<table id="professorExample" class="display nowrap"
									style="text-align: center;">
									<thead>
										<tr>
											<th><h3>교수번호</h3></th>
											<th><h3>교수이름</h3></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="professor : ${professors}"
											style="cursor: pointer;">
											<td th:text="${professor.professor_no}"
												th:value="${professor.professor_no}" id="professorSelect"></td>
											<td th:text="${professor.professor_name}"
												id="professorSelect"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="actions">
							<button style="width: 40%;" class="ui primary cancel button">확인</button>
							<button style="width: 40%; margin-right: 40px"
								id="professorSearchCancelBtn" class="ui cancel button">취소</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>