<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/class.css}">
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/class.js}"></script>
</th:block>
<body layout:fragment="content">
	<div class="ui middle aligned center aligned grid">
		<div class="column" style="height: 600px !important;">
			<h2 class="ui header">
				<strong>강의관리</strong>
			</h2>
			<div class="ui icon message" id="successmessage" style="display:none; text-align:center;">
					<i class="notched circle loading icon"></i>
					<div class="content">
						<div class="header" id="resultmessage">삭제되었습니다.</div>
					</div>
			</div>
			<table id="classAdminListexample" class="display nowrap"
				style="width: 100% !important;">
				<thead>
					<tr style="text-align: center">
						<th>강의번호</th>
						<th>학과번호</th>
						<th>수업이름</th>
						<th>수업타입</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="classtb : ${classtbs}" style="cursor: pointer;">
						<td th:text="${classtb.class_no}" th:value="${classtb.class_no}"></td>
						<td th:text="${classtb.department_no}"></td>
						<td th:text="${classtb.class_name}"></td>
						<td th:text="${classtb.class_type}"></td>
						<td>
							<a th:href="@{classAdminUpdateGo(class_no=${classtb.class_no})}">
								<i class="edit outline icon primary black" title="update"></i> 
							</a>
						</td>
						<td>
							<i class="trash alternate outline icon red" title="delete" id="classAdminDeleteBtn"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="ui mini classDelete modal">
				<div class="classmodal header">강의삭제</div>
				<div class="classmodal content">
					<p>삭제 하시겠습니까?</p>
				</div>
				<div class="actions">
					<button type="button" class="ui red button" id="classDeleteOkBtn">확인</button>
					<div class="ui cancel button" id="classDeleteCancelBtn">취소</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>